[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/srrollin
[access "refs/for/refs/*"]
	read = group user/srrollin
	push = group user/srrollin
	label-Code-Review = -2..+2 group user/srrollin
	label-Verified = -1..+1 group user/srrollin
	rebase = group user/srrollin
	removeReviewer = group user/srrollin
	submit = group user/srrollin
[access "refs/heads/*"]
	read = group user/srrollin
	create = group user/srrollin
	push = +force group user/srrollin
	pushMerge = group user/srrollin
[access "refs/tags/*"]
	push = group user/srrollin
	push = +force group user/srrollin
